streamlit
pandas>=2.0.0
gspread>=5.8.3
gspread-dataframe
google-auth
google-api-python-client
ipykernel 
langchain-openai 
openai 
langchain-community 
langchain-qdrant 

qdrant-client 
pympler 
pypdf==5.0.1
openpyxl
PyYAML
requests
streamlit-authenticator

dotenv
